/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 12, 2021, 10:27:53 AM
    Author     : Mr. Nobody
*/
body{
    background: #000000;
    color: #ffffff;
    text-align: center;
}

.butt{
    background: #14184e;
    width: 50px;
    height: 50px;
    margin: 10px;
    color: #ffffff;
}

#field{
    background: #744d30;
}

