/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 12, 2021, 10:27:53 AM
    Author     : Mr. Nobody
*/
body{
    background: #162447;
    color: #ffffff;
    text-align: center;
    font-family: 'Courier New', monospace;
}

.butt{
    background: #1b1b2f;
    width: 100px;
    height: 100px;
    margin: 10px;
    color: #ffffff;
    font-size: 20px;
    vertical-align: middle;
}

